# Python caches
__pycache__/
*.py[cod]

# Environment
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset (JANGAN upload file CSV besar)
data/
*.csv

# Model (KITA PERLU INI, jadi pastikan tidak di-ignore)
# Jika folder models/ ingin di-ignore kecuali file pkl, gunakan pola ini:
# models/*
# !models/*.pkl